---
import Avatar from "./Avatar.astro"

const { title, text, date, author, link } = Astro.props
---

<div class="flex flex-col max-w-xl group hover:cursor-pointer">
    <p class="text-xs md:text-sm text-gray-400 mb-2">
        <time datetime="2024-12-09">{date}</time>
    </p>
    <h3 class="text-xl md:text-2xl font-semibold text-white/80 mb-2 group-hover:text-white transition duration-200">
        {title}
    </h3>
    <a href="/Components" class="text-sm md:text-lg text-gray-400 text-pretty mb-4">
        {text}
    </a>
    <Avatar 
    class="text-sm"
    nombre={author}
    link={link}/>
</div>